@media(max-width: 600px) {
  .close_button a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
  }
  .for_enquiry {
    padding: 30px 0 40px 150px;
  }
  .for_enquiry ul {
    font-size: 18px;
  }

  .contactPage_footer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  } 

  .contactPage_footer div:nth-child(3) ul {
    display: flex;
  }

  .reachout_link {
    justify-content: center;
  }
  .reachout_link ul li {
    font-size: 17px;
  }




}