/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


/* container section */
body {
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
  overflow: hidden;

}

/*================== START OF HEADER =============*/

header {
  height: auto;
}

nav div a {
  text-decoration: none;
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav_list {
  margin-left: 150px;

}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}


nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  transition: 0.4s;
}
nav ul li a:hover {
  color: var(--sideBGcolor);
}

.hireUs a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--themeColor);
  padding: 14px 44px;
  border-radius: 7px;
  border-style: none;
  transition: 0.4s;
}
.hireUs a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}


/*=== START OF MARQUEE CONTAINER ===*/
header .marquee_container {
  width: auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.marquee_container {
  overflow: hidden;
  height: 100%;
  display: flex;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.marquee_text {
  white-space: nowrap;
  height: auto;
  display: flex;
  align-items: center;
  animation: marquee 30s linear infinite;
  font-size: 40px;
  color: var(--textColor);
}
@keyframes marquee {
  0% {
    transform: translateX(45%);
  }
  100% {
    transform: translateX(-45%);
  }
}



.marquee_text p {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px #000;
  color: #FFFFFF;
}
.marquee_text div {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--sideBGcolor);
  margin: 0 35px;
}
.marquee_text div .second_start {
  background-color: #FFFFFF;
}
/*=== END OF MARQUEE CONTAINER ===*/


/*================== END OF HEADER =============*/

main {
  height: auto;
}

.hero_section {
  height: 800px;
  text-align: center;
}

h1 {
  font-size: 44px;
  padding-left: 200px;
  padding-right: 200px;

}

.gallery_container {
  position: relative;
  display: block;
}
.gallery_1, .gallery_2, .gallery_3, .gallery_4, .gallery_5, .gallery_6, .gallery_7 {
  position: absolute;
  border-radius: 50%;
}
.gallery_1 {
  background-color: rebeccapurple;
  right: 100px;
  height: 280px;
  width: 280px;
}
.gallery_2 {
  background-color: red;
  right: 450px;
  top: 15px;
  height: 240px;
  width: 240px;
}
.gallery_3 {
  background-color: skyblue;
  right: 150px;
  top: 380px;
  height: 280px;
  width: 280px;
}
.gallery_4 {
  right: 550px;
  top: 370px;
  background-color: aqua;
  height: 260px;
  width: 260px;
}
.gallery_5 {
  top: 10px;
  right: 750px;
  background-color: greenyellow;
  height: 270px;
  width: 270px;
}
.gallery_6 {
  top: 300px;
  background-color: rgb(65, 73, 52);
  height: 250px;
  width: 250px;
}

/*==== END OF GALLERY SECTION ===*/

.introtext {
  height: auto;
  border-bottom: 1px solid #000;
  padding: 30px 0;
}
.introtext div {
  text-align: start;
  margin-left: 280px;
  padding-right: 23px;
  border-top: 3px solid #000;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
}
.introtext .intro_text {
  font-size: 20px;
  text-align: start;
  padding-left: 280px;
  padding-right: 50px;
  margin: 20px 0;

}
.button_itro {

  margin-left: 280px;
}
.button_itro a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--themeColor);
  transition: 0.4s;
  padding: 14px 44px;
  border-radius: 7px;
  
}
.button_itro a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}


/*=========== END OF INTROTEXT ================*/

/*===== START OF PROJECT SECTION =======*/
.projects_section {
  height: 1000px;
  text-align: center;  
  border-bottom: 1px solid #000;
}
.projects_section .title {
  font-size: 50px;
  font-weight: 600;
  padding: 25px 250px 0 250px;
}
.project_gallery {
  position: relative;
}
.project_1, .project_2, .project_3, .project_4,
.project_5 {
  position: absolute;
  border-radius: 50%;
}
.project_1 {
  background-color: rebeccapurple;
  right: 100px;
  height: 300px;
  width: 300px;
  top: 10px;
  right: 40px;
}
.project_2 {
  background-color: rgb(204, 71, 48);
  right: 100px;
  height: 300px;
  width: 300px;
  top: 20px;
  right: 700px;
}
.project_3 {
  background-color: rgb(48, 110, 204);
  right: 100px;
  height: 300px;
  width: 300px;
  top: 120px;
  right: 370px;
}

.project_4 {
  background-color: rgb(194, 204, 48);
  right: 100px;
  height: 300px;
  width: 300px;
  top: 420px;
  right: 570px;
}

.project_5 {
  background-color: rgb(186, 175, 204);
  right: 100px;
  height: 300px;
  width: 300px;
  top: 420px;
  right: 100px;
}

.button_project {
  position: absolute;
  top: 780px;
  right: 780px;
  
}
.button_project a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--themeColor);
  transition: 0.4s;
  padding: 14px 44px;
  border-radius: 7px;
  
}
.button_project a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}


/*======= END OF PROJECT SECTION ========*/


/*=== START OF CLIENTS SECTION ======*/
.clients_section .title {
  display: block;
  padding-left: 350px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.clients_section div {
  padding-left: 350px;
}
.clients_section .my_table {
  width: 100%;
  border-collapse: collapse;
}
.my_table td {
  border: 2px solid var(--themeColor);
  padding: 20px 10px;
}
.clients_section .comment {
  font-size: 18px;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin-left: 350px;
  padding: 15px 171px 15px 0;

}
/*==== END OF CLIENT SECTION =====*/

/*=== START OF FOOTER SECTION ===*/
footer {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

footer div ul {
  list-style: none;
}
footer div ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
}
footer div ul li a:hover {
  text-decoration: underline;
}
/*==== END OF FOOTER SECTION ====*/

.after_footer nav {
  display: flex;
  justify-content: center;
  transition: 0.4s;

}
.after_footer nav ul {
  margin-left: 0;
}
.after_footer nav li {
  margin: 0 3px;
}
.after_footer nav ul li a {
  background-color: var(--themeColor);
  padding: 14px 44px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
}
.after_footer nav ul li a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}







/*===== CONTACT PAGE =====*/
main {
  padding: 30px 0;
}


.close_button {
  margin: 20px 0 30px 0;
}
.close_button a {
  background-color: var(--themeColor);
  text-decoration: none;
  color: #000;
  padding: 14px 44px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
}
.close_button a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}

.for_enquiry {
  padding: 30px 0 40px 150px;
}
.for_enquiry ul {
  list-style: none;
  font-size: 30px;
  font-weight: 300;
}
.for_enquiry ul li a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.contactPage_footer {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: auto;
  margin-left: 150px;
  margin-right: 150px;
} 


.reachout_link {
  display: flex;
  justify-content: end;
  padding: 33px 0 45px 0;
}
.reachout_link ul {
  list-style: none;
}
.reachout_link ul li {
  font-size: 20px;
}
.reachout_link ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
}
.reachout_link ul li a:hover {
  border-bottom: 1px solid #000;
}


/*===== END OF CONTACT PAGE =====*/





/*=== BOX ANIMATION ===*/
.box {
  
  animation: move 15s infinite;
}

@keyframes move {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, -100px); }
  50% { transform: translate(100px, -100px); }
  75% { transform: translate(100px, 0); }
  100% { transform: translate(0, 0); }
}

/*=== END OF BOX ANIMATION ===*/






/*===== SERVICE PAGE =====*/

.main_section_servicepage {
  position: relative;
  height: auto;
}
aside {
  background-color: pink;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  overflow-y: auto;
  scroll-behavior: smooth;
  
}
aside .filter_text {
  font-size: 18px;
  font-weight: 500;
}
aside .filter_list {
  margin-left: 35px;
  margin-top: 20px;
}
aside .filter_list ul {
  list-style: none;
  line-height: 30px;
}
aside .filter_list ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14.69px;
  transition: 0.4s;
}
aside .filter_list ul li a:hover {
  color: var(--sideBGcolor);
  border-bottom: 1px solid var(--themeColor);
}
/*=== END OF SIDEBAR FILTER SECTION ===*/





.serivice_section {
  width: auto;
  position: relative;

}




/*=== START ROW ONE ======*/
.container_row1 {
  background-color: lightgreen;
  display: flex;
  margin-left: 425px;
}
.serivice_section .ellipse {
  background-color: #FBD758;
  height: 189px;
  width: 189px;
  border-radius: 50%;
}
.serivice_section .container_row1 .box_1 {
  background-color: red;
  border-bottom: 2px solid #000;
  width: 325px;
}
.container_row1 .box_1 ul {
  background-color: #FBD758;
  margin-top: 130px;
  line-height: 35px;
  letter-spacing: 4px;
  position: absolute;
  right: 310px;
}
.container_row1 .box_1 ul li {
  font-size: 25px;
  list-style: none;
}
.container_row1 .box_1 ul li:last-child {
  font-size: 20px;
}
.serivice_section .container_row1 .box_2 {
  background-color: lightskyblue;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 25px  0;
}
.serivice_section .container_row1 .box_2 p {
  font-size: 18px;
  padding-left: 30px;
  margin-top: 15px;
}
.serivice_section .container_row1 .box_2 .ellipse {
  margin-left: 50px;
  margin-right: 30px;
}
/*=== END OF ROW ONE ===*/






/*=== START OF ROW TWO ===*/
.container_row2 {
  background-color: lightgreen;
  display: flex;
  margin-left: 440px;
}
.serivice_section .container_row2 .box_2 {
  background-color: red;
  border-bottom: 2px solid #000;
  width: auto;
}
.serivice_section .container_row2 .box_2 {
  background-color: lightskyblue;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 25px  0;
}
.serivice_section .container_row2 .box_2 p {
  font-size: 18px;
  padding-left: 30px;
  margin-top: 15px;
}
.serivice_section .container_row2 .box_2 .ellipse {
  margin-left: 50px;
  margin-right: 50px;
}

/*=== END OF ROW TWO ===*/


/*===== END OF SERVICE PAGE =====*/






/*== START OF SEARCH SECTION ===*/
.search_section {
  background-color: pink;
  width: auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 60px;
  margin-left: 440px;

}
.search_section ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.search_section ul li {
  padding: 10px 0;
}
.search_section ul li a {
  text-decoration: none;
  font-size: 18px;
}
/*== END OF SEARCH SECTION ===*/
