
/*==== MAX-WIDTH 1080PX ======*/

/*=== START HOME PAGE ===*/
@media(max-width: 1280px) {
  /*=== START OF HERO SECTION ===*/
   .hero_section h1 {
    font-size: 44px;
    padding-left: 200px;
    padding-right: 200px;
   }
   .gallery_1 {
    top: 10px;
    background-color: rebeccapurple;
    right: 100px;
    height: 280px;
    width: 280px;
  }
  .gallery_2 {
    background-color: red;
    right: 400px;
    top: 55px;
    height: 280px;
    width: 280px;
  }
  .gallery_3 {
    background-color: skyblue;
    right: 150px;
    top: 370px;
    height: 280px;
    width: 280px;
  }
  .gallery_4 {
    right: 550px;
    top: 370px;
    background-color: aqua;
    height: 280px;
    width: 280px;
  }
   .gallery_5 {
    top: 10px;
    right: 690px;
    background-color: greenyellow;
    height: 280px;
    width: 280px;
  }
  .gallery_6 {
    display: none;
  }
  


  /*=== END OF HERO SECTION ===*/


   .introtext div {
    margin-left: 200px;
    
  }
  .introtext .intro_text {
    padding-left: 200px;
  }

  /*=== START OF PROJECT SECTION ===*/

  .project_1 {
    background-color: rebeccapurple;
    height: 290px;
    width: 290px;
    top: 10px;
    right: 100px;
  }
  .project_2 {
    background-color: rgb(204, 71, 48);
    height: 290px;
    width: 290px;
    top: 10px;
    right: 680px;
  }
  .project_3 {
    background-color: rgb(48, 110, 204);
    height: 290px;
    width: 290px;
    right: 390px;
    top: 85px;
  }
  .project_4 {
    background-color: rgb(194, 204, 48);
    height: 290px;
    width: 290px;
    top: 400px;
    right: 570px;
  }
  .project_5 {
    background-color: rgb(186, 175, 204);
    right: 100px;
    height: 290px;
    width: 290px;
    top: 370px;
    right: 200px;
  }
  .button_project {
    position: absolute;
    top: 750px;
    right: 680px;
    
  }
  
  /*=== END OF PROJECT SECTION ===*/

  /*=== START OF CLIENT SECTION ===*/

  .clients_section .title {
    padding-left: 150px;
  }
  .clients_section div {
    padding-left: 150px;
  }
  .clients_section .comment {
    font-size: 18px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-left: 150px;
    padding: 15px 171px 15px 0;
  
  }
  /*=== END OF CLIENT SECTION ===*/

  
}
/*=== START HOME PAGE ===*/




/*===========================================================*/


/*==== MAX-WIDTH 1024PX ======*/

/*=== START HOME PAGE ===*/
@media(max-width: 1024px) {
  /*=== START OF HERO SECTION ===*/
  .hero_section {
    height: 620px;
  }
  .hero_section h1 {
   font-size: 40px;
   padding-left: 100px;
   padding-right: 100px;
  }
  .gallery_1 {
    background-color: rebeccapurple;
    right: 100px;
    height: 200px;
    width: 200px;
  }
  .gallery_2 {
    background-color: red;
    right: 300px;
    top: 15px;
    height: 200px;
    width: 200px;
  }
  .gallery_3 {
    background-color: skyblue;
    right: 180px;
    top: 260px;
    height: 200px;
    width: 200px;
  }
  .gallery_4 {
    right: 400px;
    top: 270px;
    background-color: aqua;
    height: 200px;
    width: 200px;
  }
  .gallery_5 {
    top: 10px;
    right: 500px;
    background-color: greenyellow;
    height: 200px;
    width: 200px;
  }
  /*=== END OF HERO SECTION ===*/

  .introtext div {
    margin-left: 170px;
    font-size: 40px;
  }
  .introtext .intro_text {
    padding-left: 170px;
  }
  .button_itro a {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 40px;
    border-radius: 7px;
    
  }

  /*=== START OF PROJECT SECTION ===*/
  .projects_section {
    height: 800px;
  }
  .projects_section .title {
    font-size: 40px;
    font-weight: 600;
    padding: 25px 200px 0 200px;
  }

  .project_1 {
    background-color: rebeccapurple;
    height: 230px;
    width: 230px;
    top: 10px;
    right: 100px;
  }
  .project_2 {
    background-color: rgb(204, 71, 48);
    height: 230px;
    width: 230px;
    top: 20px;
    right: 540px;
  }
  .project_3 {
    background-color: rgb(48, 110, 204);
    height: 230px;
    width: 230px;
    top: 140px;
    right: 300px;
  }
  .project_4 {
    background-color: rgb(194, 204, 48);
    height: 230px;
    width: 230px;
    top: 320px;
    right: 540px;
  }
  .project_5 {
    background-color: rgb(186, 175, 204);
    height: 230px;
    width: 230px;
    top: 320px;
    right: 100px;
  }
  .button_project {
    top: 590px;
    right: 500px;
  }
  .button_project a {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 40px;
    
  }
  /*=== END OF PROJECT SECTION ===*/


  /*=== START OF CLIENT SECTION ===*/

  .clients_section .title {
    padding-left: 100px;
  }
  .clients_section div {
    padding-left: 100px;
  }
  .clients_section .comment {
    margin-left: 100px;
  
  }
  /*=== END OF CLIENT SECTION ===*/

  footer div ul li a {
    font-size: 14px;
  }
  .after_footer nav ul li a {
    padding: 12px 40px;
    font-size: 14px;
  }


}
/*=== END HOME PAGE ===*/



/*==========================================================*/



@media(max-width: 412px) {






}



/*===========================================*/

/*==== MAX-WIDTH 600PX ======*/

/*=== END HOME PAGE ===*/
@media(max-width: 600px) {

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav div {
    margin-bottom: 20px;
  }

  nav ul li a {
    font-size: 12px;
  }
  .hireUs {
    margin-top: 25px;
  }
  .hireUs a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
  }

  .marquee_container {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .marquee_text {
    animation: marquee 15s linear infinite;
    font-size: 25px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(45%);
    }
    100% {
      transform: translateX(-45%);
    }
  }
  .marquee_text p {
    font-size: 30px;
    font-weight: 800;
  }
  .marquee_text div {
    height: 20px;
    width: 20px;
    margin: 0 20px;
  }
  /*=== START OF HERO SECTION ===*/
  .hero_section {
    height: 450px;
  }
  .hero_section h1 {
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .gallery_1 {
    background-color: rebeccapurple;
    right: 300px;
    top: 110px;
    height: 150px;
    width: 150px;
  }
  .gallery_2 {
    background-color: red;
    right: 0px;
    top: 90px;
    height: 150px;
    width: 150px;
  }
  .gallery_3 {
    display: none;
  }
  .gallery_4 {
    right: 150px;
    top: 190px;
    background-color: aqua;
    height: 150px;
    width: 150px; 
  }
  .gallery_5 {
    top: 15px;
    right: 150px;
    background-color: greenyellow;
    height: 150px;
    width: 150px;
  }
  /*=== END OF HERO SECTION ===*/
  .introtext .intro_title {
    margin-left: 0px;
    padding-right: 23px;
    border-top: 2px solid #000;
    font-size: 30px;
  }
  .introtext .intro_text {
    font-size: 16px;
    text-align: start;
    padding-left: 0px;
    padding-right: 0px;
    margin: 15px 0;

  }
  .introtext div {
    margin-left: 0;
    font-size: 0;
  }
  .button_itro {
    padding-top: 30px;
    border-top: 2px solid #000;
    width: 150px;
  }
  .button_itro a {
    color: #000;
    font-size: 12px;
    padding: 12px 25px;
    border-radius: 5px;
    
  }
    /*=== START OF PROECT SECTION ===*/
    .projects_section {
      height: 700px;
      text-align: center;  
      border-bottom: 1px solid #000;
    }
    .projects_section .title {
      font-size: 23px;
      font-weight: 600;
      padding: 25px 50px 0 50px;
    }
    .project_1 {
      background-color: rebeccapurple;
      height: 120px;
      width: 120px;
      top: 170px;
      right: 160px;
    }
    .project_2 {
      background-color: rgb(204, 71, 48);
      height: 120px;
      width: 120px;
      top: 10px;
      right: 20px;
    }
    .project_3 {
      background-color: rgb(48, 110, 204);
      height: 120px;
      width: 120px;
      top: 20px;
      right: 160px;
    }
    .project_4 {
      background-color: rgb(194, 204, 48);
      height: 120px;
      width: 120px;
      top: 160px;
      right: 20px;
    }
    .project_5 {
      background-color: rgb(186, 175, 204);
      height: 120px;
      width: 120px;
      top: 310px;
      right: 90px;
    }
    .project_gallery .project_descrip {
      font-size: 10px;
      color: #000;
      margin-top: 120px;
    }
    .project_3 .project_descrip {
      margin-right: 18px;
    }
    .project_4 .project_descrip {
      margin-left: 27px;
    }
    .project_5 .project_descrip {
      margin-right: 25px;
    }
    .button_project {
      position: absolute;
      top: 500px;
      right: 80px;
      
    }
    .button_project a {
      font-size: 14px;
      font-weight: 500;
      padding: 12px 40px;
      border-radius: 5px;
      
    }
  
    /*=== END OF PROECT SECTION ===*/

    /*=== START OF CLIENT SECTION ===*/
    .clients_section div {
      padding-left: 0;
    }
    .clients_section .title {
      display: block;
      padding-left: 0;
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  
  
    .my_table td {
      padding: 15px 5px;
      font-size: 12px;
    }
  
    .my_table tr:nth-child(3) td,
    .my_table tr:nth-child(4) td {
      display: none;
    }
    .my_table tr:nth-child(1) td:nth-child(n+4),
    .my_table tr:nth-child(2) td:nth-child(n+4) {
      display: none;
    }
    .my_table tr:nth-child(1) td:nth-child(3n+1),
    .my_table tr:nth-child(2) td:nth-child(3n+1) {
      width: 33.33%;
    }
  
    .clients_section .comment {
      font-size: 11px;
      border-bottom: 1px solid #000;
      display: inline-block;
      text-align: center;
      margin-left: 0;
      padding: 10px 0 10px 0;
  
    }
    /*=== END OF CLIENT SECTION ===*/
  
    /*=== START OF FOOTER SECTION ===*/
    footer {
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;
    }
    footer div {
      margin-bottom: 20px;
    }
    footer div:nth-child(1) ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    footer div:nth-child(4) ul {
      display: flex;
    }
    footer div ul li a {
      text-decoration: none;
      color: #000;
      transition: 0.4s;
      margin-right: 15px;
    }
    /*=== END OF FOOTER SECTION ===*/
    .after_footer nav ul li a {
      display: none;
    }  

}
/*=== END HOME PAGE ===*/






















/* @media(max-width: 540px) { */

  /*=== START OF HEADER SECTION ===*/

  /*=== END OF HEADER SECTION ===*/




  /*=== END OF MAIN SECTION ===*/











  /* .clients_section .comment {
    font-size: 18px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 171px 15px 0;
  
  } */







/*=== END Homepage Mobile view ===*/